
#title {
	font-family: "Hubballi";
	text-align: center;
	margin: 15px auto;
}

#board {
	display: grid;
	grid-template-columns: repeat(3,auto);
	border: 2px solid black;
	width: 459px;
	height: auto;
	margin: auto;
	position: relative;
}

.box_cell {
	height: 150px;
	width: 150px;
	border: 2px solid black;
	/* box-shadow: 0 0 0 2px; */
	font-size: 40px;
	line-height: 150px;
	text-align: center;
	cursor: pointer;
	font-family: "Press Start 2P";
	background-color: #80b0ff;
}


#turn {
	font-family:"Syne Tactile";
	text-align: center;
	margin: 10px;
	font-size: 20px;
}

#reset {
	margin: auto;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

#btn {
	margin-top: 10px;
	width: 100px;
	height: 40px;
	font-size: 20px;
}
